<!-- Navigation Component -->
<div class="nav-section">
    <div class="position-absolute" style="top: 5px; left: 1%; z-index: 1; opacity: 0.35;">
        <img src="https://media.tenor.com/images/anime-cute.gif" alt="anime" class="img-small border-outset" data-onerror="hide">
    </div>
    <div class="position-absolute" style="top: 5px; right: 1%; z-index: 1; opacity: 0.35;">
        <img src="https://media.tenor.com/images/anime-kawaii.gif" alt="anime" class="img-small border-outset" data-onerror="hide">
    </div>
    <div class="position-absolute" style="bottom: 5px; left: 3%; z-index: 1; opacity: 0.3;">
        <img src="https://media.tenor.com/images/anime-wink.gif" alt="anime" class="img-small border-outset" data-onerror="hide">
    </div>
    <div class="position-absolute" style="bottom: 5px; right: 3%; z-index: 1; opacity: 0.3;">
        <img src="https://media.tenor.com/images/anime-happy.gif" alt="anime" class="img-small border-outset" data-onerror="hide">
    </div>
    <div class="position-relative z-index-2">
        <div class="text-center padding-small brand-gradient-rainbow margin-bottom-small">
            <span class="brand-name-nike font-size-small color-white margin-small">NIKE</span>
            <span class="brand-name-cocacola font-size-large color-white margin-small">COCA-COLA</span>
            <span class="brand-name-pokemon font-size-medium color-white margin-small">POKEMON</span>
            <span class="brand-name-disney font-size-large color-white margin-small">DISNEY</span>
            <span class="brand-name-apple font-size-small color-white margin-small">APPLE</span>
            <span class="brand-name-google font-size-medium color-white margin-small">GOOGLE</span>
        </div>
        <table width="100%" cellpadding="5" cellspacing="0" border="0">
            <tr>
                <td><a href="../index.html#about" class="nav-link brand-name-microsoft nav-index-link" style="font-size: 16px;">ABOUT (DON'T READ)</a></td>
                <td><a href="memes.html" class="nav-link brand-name-comic nav-page-link" data-page="memes.html" style="font-size: 15px;">MEMES (BUY THEM)</a></td>
                <td><a href="shop.html" class="nav-link brand-name-nike nav-page-link" data-page="shop.html" style="font-size: 8px;">SHOP (FUCK YOU)</a></td>
                <td><a href="contact.html" class="nav-link brand-name-amazon nav-page-link" data-page="contact.html" style="font-size: 14px;">CONTACT (DON'T)</a></td>
                <td><a href="../index.html#manifesto" class="nav-link brand-name-nosifer nav-index-link" style="font-size: 13px;">MANIFESTO (READ IT)</a></td>
                <td><a href="../index.html#freemoney" class="nav-link brand-name-apple nav-index-link" style="font-size: 18px; color: #FFD700; text-shadow: 2px 2px 0 #000000;">FREE MONEY MACHINE (SCAM)</a></td>
            </tr>
        </table>
        <div class="text-center padding-small brand-gradient-purple margin-top-small">
            <span class="brand-name-sony font-size-small color-white margin-small">SONY</span>
            <span class="brand-name-netflix font-size-large color-white margin-small">NETFLIX</span>
            <span class="brand-name-tesla font-size-medium color-white margin-small">TESLA</span>
            <span class="brand-name-meta font-size-large color-white margin-small">META</span>
            <span class="brand-name-spotify font-size-small color-white margin-small">SPOTIFY</span>
            <span class="brand-name-uber font-size-small color-white margin-small">UBER</span>
        </div>
    </div>
</div>
